<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-app="CVCreater" ng-cloak>
    <div ng-controller="CVController" layout="column" ng-cloak>
        <div class="user_profile">
            <img src='{{user_profile.picture}}'>
            <div>{{user_profile.name}}</div>
            <div>{{user_profile.company}}</div>
            <div>{{user_profile.country}}</div>
        </div>
        <ul class="selection_profile">
            <li ng-click="onClickSelection()" ng-repeat="selection in recomment_selections">
                <img src='{{selection.img}}'>
                <div>{{selection.title}}</div>
                <div>{{selection.value}}</div>
            </li>
        </ul>
        <ul class=" profile ">
            <li id="{{selection.id}}" ng-repeat="selection in recomment_selections" style="display: none">
<div>{{selection.title}}</div>
</li>
</ul>
<div class="following "></div>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js "></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js "></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js "></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js "></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js "></script>
<script src="./script.js "></script>

<!-- Your application bootstrap  -->


</body>

</html>