.user_profile {
    width: 100%;
    border: thin solid lightgray;
}
.selection_profile {
    width: 100%;
    border: thin solid lightgray;
    border-radius: 3px;
}
.profile {
    width: 100%;
    border: thin solid lightgray;
}
.following {
    width: 100%;
    border: thin solid lightgray;
}